#lion{
    width:500px;
    height:500px;
}
#p2{
    float: left;
    width: 50%;
    font-size: 25px;
    padding: 20px;
}
#p1{
    font-size: 40px;
}
#div {
    padding: 20px;
    border: solid;
}
nav{
    padding: 20px;
    font-size: 25px;
    font-family: 'IM Fell English SC', serif;
    text-align: right    
}
