#p1{
    font-size: 70px;
    color: rgb(0, 79, 153);
    text-align: center;
}
body{
    background-color:rgb(153, 206, 255);
}
nav{
    padding: 20px;
    font-size: 25px;
    font-family: 'Yatra One', cursive;
    text-align: right; 
    color:rgb(0, 89, 179);
}
a:hover{
    color: deeppink;
}
#p2{
    float: left;
    height: 570px;
    width: 550px;
    padding-left: 4em;
}
#p3{
    float: right;
    height: 570px;
    width: 550px;
    padding-right: 4em;
}
