#p1{
    transition: center;
    font-family: 'Yatra One', cursive;
}
nav{
    padding: 20px;
    font-size: 25px;
    font-family: 'Yatra One', cursive;
    text-align: right; 
    color:rgb(0, 89, 179);
}

body{
    background-color:rgb(153, 206, 255);
      align-items: center;
}
a:hover{
    color: deeppink;
}
@keyframes "id1"{
    10%{
        transform: rotate3d(2);
        opacity: 1;
    }
    60%{
        transform: rotate3d(4);
        opacity: 3;
    }
    100%{
        transform: rotate3d(6);
        opacity: 5;
    }
}
id1{
    animation-name: id1;
    animation-duration: 5s;
}