@media only screen and (max-width: 800px) {
    body {
    background-color: #D4DDE1;
}
    
    
}

@media only screen and (min-width: 801px) {
body { 
    background-color: #D4DDE1;
}

h1 {
    color: #2D3033;
    text-align: center;
}

#nav{
    text-align: right;
    background: #AA4B41;
}

a:hover{ 
    color: #2D3033;
}
    
#contact{
    border-style: solid;
    border-width: 1px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 45px; 
    box-sizing: border-box;
    width: 30%;
    text-align: center;
}

}
