body {
    background-color: #D4DDE1;
}

h1 {
    color: white;
    text-align: center;
}

nav{
    text-align: center;
}

a:hover { 
    background-color: #2D3033;
}
    
p {
    font-family: verdana;
    font-size: 20px;
}
