body {
    background-color: #D4DDE1;
}

h1 {
    color: #2D3033;
    text-align: center;
}

nav{
    text-align: center;
}

a:hover { 
    background-color: #2D3033;
}
    
#contact {
    border-style: solid;
    border-width:5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 25px; 
    border-box: 50%;
}

