body{ 
  background-color:#D4DDE1;
  font-family: 'Nanum+gothic',sans-serif;
  text-align: center; 
}
 a: hover {
  background-color: #2D3033
  color:#335252;
}
img{
  width: 55%;
  height: auto;
}
h2{
  color:  #AA4B41;
  font-size: 80;
}
  
