nav{
    padding: 20px;
    font-size: 9em;
    font-family: 'Yatra One', cursive;
    text-align: right; 
    color:rgb(0, 89, 179);
}
body{ 
  background-color:#D4DDE1;
  font-family: 'Galada',cursive;
  text-align: center; 
  font-size: 200;
}
 a: hover {
  background-color: #2D3033;
  color:#335252;
}
#p1{
    font-family; 'Nanum+gothic',sans'serif;
    font-size: 30em;
    font-color:#AA4B41;
}
#p2{
    font-family; 'Nanum+gothic',sans'serif;
    font-size: 18em;
    font-color:#AA4B41;
}
