nav{
    padding: 20px;
    font-size: 9px;
    font-family: 'Yatra One', cursive;
    text-align: right; 
    color:rgb(0, 89, 179);
}
body{ 
  background-color:#D4DDE1;
  font-family: 'Galada',cursive;
  text-align: center; 
  font-size: 200;
}
#header{
    background: #AA4B41;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    }
    
nav{
    text-align: right;
    font-size: 20px;
    display: block;
    padding: 14px 16px;
    float: right;
}
    a{
    margin: 0px;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
        
    }

a:hover{ 
    background-color: #335252;
    padding: 14px 16px;
    }
    
#p1{
    font-family; 'Nanum+gothic',sans'serif;
    font-size: 30em;
    font-color:#AA4B41;
    text-alignment: left;
}
#p2{
    font-family; 'Nanum+gothic',sans'serif;
    font-size: 18em;
    font-color:#AA4B41;
    text-alignment: left;
}
